<h1> Registro </h1>

<form action="">

    <div class="form-item nombre">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" required>
    </div>

    <div class="form-item email">
        <label for="email" class="form-label">Correo</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>

    <div class="form-item password">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>

    <button  type="submit" class="btn btn-submit">
        Registrarse
    </button>
</form>